<a href="https://colab.research.google.com/github/Hemkush/Python_Practice/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = [1,2,3,4,5,5]
y = {'p':1, 'q':2, 's':3}
def myFunc(a, *b, **c):
  print(a)
  print(b)
  print(c)

myFunc(1,*x, **y)

1
(1, 2, 3, 4, 5, 5)
{'p': 1, 'q': 2, 's': 3}

In [ ]:
myString = "It's correct string."
print(myString)

print(str(123))
print(type(str(124)))

my_list = ['hello', 'everyone', 'how', 'are', 'you', 'guys']
print(' '.join(my_list))

It's correct string.
123
<class 'str'>
hello everyone how are you guys

In [ ]:
func = lambda a, b : a+b
print(func(4,4))

func1 = lambda a,s,d,w,r : a+s+d+w+r
print(func1(1,2,3,2,2))

8
10

In [ ]:
disct = {1,3,4,5}
dis = {i:0 for i in range(1,7)}
print(disct)
print(dis.values())

{1, 3, 4, 5}
dict_values([0, 0, 0, 0, 0, 0])

In [ ]:
counts = {'chuck' : 1, 'fred' : 42, 'jan' : 100}
for key in counts:
 print(key, counts[key])

students = {'chuck' : 1, 'fred' : 42, 'jan' : 100}
for k,v in students.items():
 print(k,":",v)

chuck 1
fred 42
jan 100
chuck : 1
fred : 42
jan : 100

In [ ]:
num = int(input('Enter a number:'))
def fibonacci(n):
  if n==0:
    return 0;
  elif n==1:
    return 1;
  else:
    return fibonacci(n-1) + fibonacci(n-2)
fibonacci(num)

Enter a number:9

34

In [ ]:
num = int(input('Enter a number:'))
def factorial(n):
  if n == 0:
    return 1
  else:
    return n*factorial(n-1)
factorial(num)

Enter a number:5

120

In [ ]:
purse = {}
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse)

purse['candy'] = purse['candy'] + 2
print(purse['candy'])

del purse['money']
print(purse)

print(purse.keys())
print(purse.values())
print(purse.items())

my_dict = {'a': 1, 'b':2, 'c':3}
for key in my_dict:
  print(key)


# purse.has_key('candy')  # throwing error need to check
# purse.has_key('hello')

{'money': 12, 'candy': 3, 'tissues': 75}
5
{'candy': 5, 'tissues': 75}
dict_keys(['candy', 'tissues'])
dict_values([5, 75])
dict_items([('candy', 5), ('tissues', 75)])
a
b
c

In [ ]:
import random;
x = random.random()
print(x)

0.14209010181436443

In [ ]:
a_tuple = ('e','t','w','r','e')
print(a_tuple)
tuple_b = ('A',) + a_tuple[1:]
print(tuple_b)

(x, y) = (4,'hello')
print(y)

a, b = (1,7)
a,b = b,a
print(a)

('e', 't', 'w', 'r', 'e')
('A', 't', 'w', 'r', 'e')
hello
7

In [ ]:
a=[1,2,3]
b=['x','y']
print('newList', a+b)

c = a+b
c[2:3] = []
print(c)

del c[2:3]  #preferred method to delete
print(c)

d=[]
d.append(13)
print(d)

e=['a','e','t','w','r','e'];
e.sort()
print(e)

f=[3,4,2,5]
f.reverse()
print('reverse', f)

x=[2,4,44,53,6,88,5];
print(len(x), max(x), min(x))
y=[1, 2, 3]
total = sum(y) #throwing error need to check

newList [1, 2, 3, 'x', 'y']
[1, 2, 'x', 'y']
[1, 2, 'y']
[13]
['a', 'e', 'e', 'r', 't', 'w']
reverse [5, 2, 4, 3]
7 88 2

In [ ]:
a = list(range(1,4));
i=0;
sum=0;
while i < len(a):
  print('check', a[i])
  sum+=a[i]
  i += 1
print('average', sum/len(a))
print('completed', sum)

check 1
check 2
check 3
average 2.0
completed 6

In [ ]:
print(list(range(3,9)))
a = list(range(1,6))
for i in a:
  if i%2==0:
    print('even value', i)
  else:
    print('say nothing')
print('complete')

[3, 4, 5, 6, 7, 8]
say nothing
even value 2
say nothing
even value 4
say nothing
complete

In [ ]:
x=[1,2,3,8];
print('testing', x[1:-1])

testing [2, 3]

In [ ]:
print("Hello world")

Hello world